<div class="sidebar container-fluid">
    <div class="row mb-2" (click)="navigate('/home')">
        <div class="col-md-12 hover-fade">
            <h3>georgeom.net</h3>
        </div>
    </div>
    <div class="sidebar-image">
        <img src="/assets/hol.gif">
    </div>
    <div class="row" (click)="navigate('/home')">
        <div class="col-md-12 hover-fade">
            <h4><i class="material-icons">home</i>&nbsp;Home</h4>
        </div>
    </div>
    <hr>
    <div class="row" (click)="navigate('/diskspace')">
        <div class="col-md-12 hover-fade">
            <h4><i class="material-icons">storage</i>&nbsp;Diskspace</h4>
        </div>
    </div>
    <div class="row" (click)="navigate('/status')">
        <div class="col-md-12 hover-fade">
            <h4><i class="material-icons">thumbs_up_down</i>&nbsp;Status</h4>
        </div>
    </div>
    <div class="row" (click)="navigate('/processes')">
        <div class="col-md-12 hover-fade">
            <h4><i class="material-icons">insights</i>&nbsp;Processes</h4>
        </div>
    </div>
</div>