<div class="sidebar container-fluid">
    <div class="row mb-2" (click)="navigate('/home')">
        <div class="col-md-12 hover-fade">
            <h3>georgeom.net</h3>
        </div>
    </div>
    <div class="sidebar-image">
        <img src="/assets/hol.gif">
    </div>
    <div class="row" (click)="navigate('/home')">
        <div class="col-md-12 hover-fade">
            <h4><i class="material-icons">home</i>&nbsp;Home</h4>
        </div>
    </div>
    <div class="row" (click)="logout()">
        <div class="col-md-12 hover-fade">
            <h4><i class="material-icons">exit_to_app</i>&nbsp;Logout</h4>
        </div>
    </div>
    <hr>
    
    <div *ngFor="let item of sidebarItems">
        <div *ngIf="isPermitted(item)" class="row" (click)="navigate(item.link)">
            <div class="col-md-12 hover-fade">
                <h4><i class="material-icons">{{ item.icon }}</i>&nbsp;{{ item.title }}</h4>
            </div>
        </div>
    </div>

</div>