<div protected class="container-fluid">

  <!-- Welcome box -->
  <div id="welcome" class="row bubble">
    <div class="col-md-12">
      <h3>Welcome, {{ permission }}.</h3>
    </div>
  </div>

  <!-- Row 1 -->
  <div class="row same-height center-row-items">

    <!-- Diskspace -->
    <div *ngIf="display.diskspace" class="bubble standard-bubble-height col-md-5 col-sm-12 col-xs-12">
      <!-- Header -->
      <div routerLink="/diskspace" class="row hover-fade">
        <div class="col-md-6">
          <h3>Diskspace</h3>
        </div>
        <div class="col-md-1 col-md-offset-5 hidden-sm hidden-xs">
          <h3><i class="material-icons">launch</i></h3>
        </div>
      </div>
      <hr>
      <!-- Chart -->
      <div style="padding-left: 5%;">
        <diskspace-chart [files]="diskspaceFiles" [path]="diskspacePath" (path_update)="getDiskspace($event)"></diskspace-chart>
      </div>
    </div>

    <!-- Services -->
    <div *ngIf="display.services" class="bubble standard-bubble-height col-md-5 col-sm-12 col-xs-12">
      <div class="inner">
        <!-- Header -->
        <div routerLink="/services" class="row hover-fade">
          <div class="col-md-6">
            <h3>Services</h3>
          </div>
          <div class="col-md-1 col-md-offset-5 hidden-sm hidden-xs">
            <h3><i class="material-icons">launch</i></h3>
          </div>
        </div>
        <hr>
        <!-- Chart -->
        <service-rows *ngIf="!servicesLoading" [services]="services" [minimal]="true"></service-rows>
        <div *ngIf="servicesLoading" class="text-center">
          <img src="/assets/loading.gif" width="50">
        </div>
      </div>
    </div>

    <!-- Processes -->
    <div *ngIf="display.processes" class="col-md-5 col-sm-12 col-xs-12">
      <div class="bubble">
        <div class="max-height-patch">
          <!-- Header -->
          <div routerLink="/processes" class="row hover-fade">
            <div class="col-md-6">
              <h3>Current Processes</h3>
            </div>
            <div class="col-md-1 col-md-offset-5 hidden-sm hidden-xs">
              <h3><i class="material-icons">launch</i></h3>
            </div>
          </div>
         <hr>
          <!-- Chart -->
          <process-chart [processes]="processes"></process-chart>
        </div>
      </div>
    </div>

    <!-- KF2 Details -->
    <div *ngIf="display.kf2" class="col-md-5 col-sm-12 col-xs-12">
      <div class="bubble">
        <!-- Header -->
        <div routerLink="/kf2" class="row hover-fade">
          <div class="col-md-6">
            <h3>Killing Floor 2</h3>
          </div>
          <div class="col-md-1 col-md-offset-5 hidden-sm hidden-xs">
            <h3><i class="material-icons">launch</i></h3>
          </div>
        </div>
        <hr>
        <kf2-rows [gamedetails]="gameinfo" [status]="kf2status"></kf2-rows>
      </div>
    </div>

  </div>
</div>