// Push down 20 px
.push-down {
  margin-top: 20px;
}

// Padd out on off switch bubble
#on-off-row {
  padding-bottom: 0.5%;
}

// Shorten row lines
hr {
  width: 50%;
}

// Bold text in firewall header
#firewall-header {
  font-weight: bold;
  margin-bottom: 15px;
}

// Pad rules
.firewall-rule {
  margin-bottom: 10px;
}

// Reduce "current rules" header spacing
h3 {
  margin-bottom: -5px;
}

// Padding around modal confirm
#modal-confirm {
  margin-bottom: 1%;
}

#newRuleButton {
  width: 30%;
  margin-bottom: 0.5%;
}

.add-input {
  margin-bottom: 10px;
  label {
    margin-top: 5px;
  }
}