$max-sm: 767.98px;
$max-md: 991.98px;

.status-row {
    margin-bottom: 2vh;
    @media (max-width: $max-md) {
        margin-bottom: 5vh;
    }
    @media (max-width: $max-sm) {
        button {
            margin-bottom: 10px;
        }
    }
}