<div protected class="container-fluid">
    
    <!-- Header -->
    <div class="row bubble">
        <div class="col-md-12">
            <h2>Running Processes</h2>
        </div>
    </div>
    
    <!-- Half-page bubbles -->
    <div class="row same-height center-row-items">
        <!-- CPU Usage graph -->
        <div class="col-md-11 col-sm-12 col-xs-12 bubble">
            <div class="row">
                <div class="col-md-12 real-mb-5">
                    <h3>CPU Usage History (%)</h3>
                </div>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <cpu-usage-chart></cpu-usage-chart>
                </div>
            </div>
        </div>

        <!-- Memory Graph -->
        <div class="col-md-5 col-sm-12 col-xs-12 bubble standard-bubble-height">
            <div class="row">
                <div class="col-md-12 real-mb-5">
                    <h3>Memory Usage (%)</h3>
                </div>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <process-chart [processes]="processes" (processClick)="openProcess($event)"></process-chart>
                </div>
            </div>
        </div>

        <!-- Processes -->
        <div class="col-md-5 col-sm-12 col-xs-12 bubble standard-bubble-height">
            <div class="inner">
                <!-- Header -->
                <div class="row">
                    <div class="col-md-12 real-mb-5">
                        <h3>All Processes</h3>
                    </div>
                    <hr>
                    <p class="xs-only">&nbsp;</p>
                </div>
                <!-- Processes -->
                <div *ngIf="api_statuses.get.loading" class="text-center">
                    <img src="/assets/loading.gif" width="50">
                </div>
                <div *ngIf="!api_statuses.get.loading" id="process-headers" class="row text-center real-mb-5 font-weight-bold" style="padding-left: 7%;">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                        Status
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1">
                        PID
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        Command
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        CPU %
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        Mem %
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        User
                    </div>
                </div>
                <div (click)="openProcess(process)" *ngFor="let process of processes; let i = index" class="processes row hover-fade text-center real-mb-5" style="padding-left: 7%;">
                    <div class="non-xs-only col-lg-1 col-md-1 col-sm-1">
                        <span class="status-icon" [title]="process.status" [ngSwitch]="process.status">
                            <i *ngSwitchCase="'Sleeping'" class="material-icons sleeping">nights_stay</i>
                            <i *ngSwitchCase="'Uninterruptible sleep'" class="material-icons">pause_circle_outline</i>
                            <i *ngSwitchCase="'Stopped'" class="material-icons">stop</i>
                            <i *ngSwitchCase="'Stopped by debugger'" class="material-icons">close</i>
                            <i *ngSwitchCase="'Zombie'" class="material-icons">pending</i>
                            <i *ngSwitchCase="'Running'" class="material-icons running">play_arrow</i>
                            <i *ngSwitchCase="'Idle'" class="material-icons">more_horiz</i>
                        </span>
                    </div>
                    <div class="xs-only col-xs-12">
                        <p><span class="font-weight-bold">Status:</span> {{ process.status }}</p>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                        <p><span class="xs-only font-weight-bold">PID:</span> {{ process.pid }}</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <p><span class="xs-only font-weight-bold">Command: </span>{{ process.command }}</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <p><span class="xs-only font-weight-bold">CPU: </span>{{ process.cpu }}</p>
                    </div>
                    <div class="col-md-2 col-md-2 col-sm-2 col-xs-12">
                        <p><span class="xs-only font-weight-bold">Memory: </span>{{ process.memory }}</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <p><span class="xs-only font-weight-bold">User: </span>{{ process.user }}</p>
                    </div>
                    <!-- xs padding -->
                    <div class="xs-only">
                        <!-- Mobile has strange bug where hr doesn't appear unless below text -->
                        <p>&nbsp;</p>
                        <hr>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Process highlight -->
        <div class="col-md-5 col-sm-12 col-xs-12 bubble">
            <!-- Starting message -->
            <div *ngIf="selectedProcess === undefined" class="text-center">
                <h5 class="text-muted">Click on a process to view all information.</h5>
            </div>
            <!-- Details -->
            <div id="process-details" *ngIf="selectedProcess !== undefined" class="row">
                <!-- Header -->
                <div class="col-md-12 real-mb-5">
                    <h4 class="overflow-lines font-weight-bold">[{{ selectedProcess.pid }}] {{ selectedProcess.command}}</h4>
                </div>
                <hr>
                <!-- Info list -->
                <div class="col-md-12 overflow-lines">
                    <p>Command: <code>{{ selectedProcess.command }}</code></p>
                    <p>PID: {{ selectedProcess.pid }}</p>
                    <p>CPU Usage: {{ selectedProcess.cpu }}%</p>
                    <p>Memory Usage: {{ selectedProcess.memory }}%</p>
                    <p>Status: {{ selectedProcess.status }}</p>
                    <p>User: <code>{{ selectedProcess.user }}</code></p>
                    <p>Time: <code>{{ selectedProcess.time }}</code></p>
                    <p>Priority: {{ selectedProcess.priority }}</p>
                    <p>Nice Value: {{ selectedProcess.nice_value }}</p>
                    <button (click)="openKillModal()" type="button" class="btn btn-danger">Kill</button>
                </div>
            </div>
        </div>
    </div>
    

</div>

<!-- Kill Confirm Modal -->
<button #killModalTrigger class="d-none" data-toggle="modal" data-target="#killModal">
    <!-- Does not appear on page -->
  </button>
  <!-- Add Modal -->
  <div class="modal fade" id="killModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center" *ngIf="selectedProcess">
                <p>Are you sure that you want to kill process {{ selectedProcess.pid }} (<code>{{ selectedProcess.command }}</code>)?</p>
                <div *ngIf="!api_statuses.kill.loading && !api_statuses.kill.complete">
                    <button (click)="killProcess(selectedProcess.pid)" type="button" class="btn btn-success">Yes</button>
                </div>
                <div *ngIf="api_statuses.kill.loading" class="text-center">
                    <img src="/assets/loading.gif" width="50">
                </div>
                <div class="mt-10-px" *ngIf="api_statuses.kill.error !== ''">
                    <span class="fail">An error occurred: {{ api_statuses.kill.error }}</span>
                </div>
            </div>
            <div class="modal-footer">
                <button #killModalClose type="button" class="btn btn-primary" data-toggle="modal" data-target="#killModal">Close</button>
            </div>
        </div>
    </div>
  </div>