<!-- Rows -->
<div *ngFor="let result of statuses" class="status-row row same-height center-row-items">
    <div class="col-md-1 col-sm-12 col-xs-12 text-center">
        <h5>
            <i *ngIf="result.status" class="material-icons success">thumb_up</i>
            <i *ngIf="!result.status" class="material-icons fail">thumb_down</i>
        </h5>
    </div>
    <div [ngClass]="{
        'col-sm-12': !minimal,
        'col-xs-12': !minimal,
        'col-md-2': !minimal,
        'col-md-5': minimal,
        'text-center': true
    }">
        <h5>{{ result.name }}</h5>
    </div>
    <div *ngIf="!minimal" class="col-md-4 col-sm-12 col-xs-12 text-center">
        <h5>{{ result.description }}</h5>
    </div>
    <div *ngIf="!minimal" class="col-md-2 col-sm-4 col-xs-12 text-center overflow-lines">
        <button (click)="changeService('restart', result)" [class.disabled]="!result.can_restart" class="btn btn-primary">Restart</button>
    </div>
    <div *ngIf="!minimal" class="col-md-1 col-sm-4 col-xs-12 text-center">
        <button (click)="changeService('start', result)" class="btn btn-success">Start</button>
    </div>
    <div *ngIf="!minimal" class="col-md-1 col-sm-4 col-xs-12 text-center">
        <button (click)="changeService('stop', result)" class="btn btn-danger">Stop</button>
    </div>
</div>

<!-- Stop/start/restart success modal -->
<button #modalTrigger class="d-none" data-toggle="modal" data-target="#modal">
    <!-- This button does not appear on the page, it is triggered through JS to load the modal with bootstrap's modal feature -->
</button>
  
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h5>Triggered {{ modalDetails.action }} action to {{ modalDetails.service }} service.</h5>
                <p [class.success]="modalDetails.response_code === 200" [class.fail]="modalDetails.response_code !== 200">Response Status: {{ modalDetails.response_code }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">Close</button>
            </div>
        </div>
    </div>
</div>